<template name="home">
	  

     {{#if currentUser}}
    <div class="home">    
  	 	
  	 	<div class="row">
        
        <div class="col-md-5 boxHP">
          <h4>Ciao <a href="{{pathFor route='playerPage' _id=currentUser._id}}">{{currentUser.username}}</a></h4>
          {{> welcome}}
        </div>
        
        <div class="col-md-2">&nbsp;</div>

        <div class="col-md-5 boxHP">
          <h4>Ultime sfide create</h4>
          {{> lastCups}}
        </div>
       
         </div>  
  	 </div>

      {{else}}
          {{> auth}}
      {{/if}}

</template>


<template name="lastCups">
   
   {{> cupsListOnly cups=cups}}  

</template>

<template name="welcome">
   {{#if points}}<p>Hai <strong>{{points}}</strong> punti.</p>{{/if}}
   {{#if winnerRatio}}
   <p>
     La tua percentuale di vittorie è del
     <strong>{{winnerRatio}}</strong>
   </p>
   {{/if}}
</template>