<template name="playerPage">
 
<form class="playerPage">
	<div class="row">
		<div class="col-xs-5 pull-right">
			
				<div class="{{#if this.profile.avatar }} avatarWrap avatarDone{{else}} avatarWrap {{/if}}">
					<div class="picZone">
					<div class="points">#{{positioning}}</div>	
					<div class="level">{{level}}</div>

					{{#if this.profile.avatar}}
						<span class="thumbnail"><img src="{{avatar.link}}" alt="{{this.username}}" class="avatar" /></span>
					{{/if}}	
					
				</div>	
				{{#if isCurrentUser}}
					{{> uploadAvatar}}
				{{/if}}
			</div>	

		</div>
		<div class="col-xs-7">
			<h3>{{> playerItem}}</h3>

			{{#if isCurrentUser}}
				{{else}}
				<p><em>{{this.profile.claim}}</em></p>
			{{/if}}



			<div class="row">


				<div class="col-md-4 form-group">
					 <label class="form-label" >Nome </label>
					 {{#if isCurrentUser}}
						<input type="text" id="name" value="{{this.profile.name}}" class="form-control {{#if this.profile.name}}full{{/if}}" />	
						{{else}}
						{{#if this.profile.name}}  
							<h4>{{this.profile.name}}</h4>
						{{else}}
							<h4>nd</h4>
						{{/if}}	
					{{/if}}
				</div>

				<div class="col-md-4 form-group">
					 <label class="form-label">Cognome</label> 
					 {{#if isCurrentUser}}
						<input type="text" id="surname" value="{{this.profile.surname}}" class="form-control {{#if this.profile.surname}}full{{/if}}" />	
						{{else}}
						{{#if this.profile.surname}}  
							<h4>{{this.profile.surname}}</h4>
						{{else}}
							<h4>nd</h4>	
						{{/if}}
					{{/if}}
				</div>


				<div class="col-md-4 form-group">
					 <label class="form-label">Telefono</label> 
					 {{#if isCurrentUser}}
						<input type="text" id="phone" value ="{{this.profile.phone}}" class="form-control {{#if this.profile.phone}}full{{/if}}" />	
						{{else}}
						{{#if this.profile.phone}}  
							<h4>{{this.profile.phone}}</h4>
						{{else}}
							<h4>nd</h4>
						{{/if}}
					{{/if}} 
				</div>


				{{#if isCurrentUser}}
				 	<div class="col-md-4 form-group">
						<label class="form-label" >Email </label>
					  	<h4>{{email}}</h4>
					</div>
					
				{{/if}}


			</div>

			{{#if isCurrentUser}}
				<div class="row">
					<div class="col-md-12" >
						<div class="form-group"><label class="form-label" data-toggle="collapse" data-target="#changePswPanel">Cambia  password</label></div>
					</div>
				</div>

				<div id="changePswPanel" class="collapse" syle="margin-top:-1rem;">
					<div class="form-group">
					<div class="row">

						<div class="col-md-6">
							<div class="form-group">	
								<label class="form-label" >Password attuale</label>
							  	<input type="password" id="oldPassword" value="" class="form-control" />	
							</div>  	
						</div>
						<div class="col-md-6">
							<div class="form-group">	
							  	<label class="form-label" >Nuova password</label>
							  	<input type="password" id="newPassword" value="" class="form-control" />	
							</div>  	
						</div>	
					</div>
					<div class="row">
						
						<div class="col-md-6">	
							<div class="form-group">	  	
								<label class="form-label" >Conferma nuova password</label>
							  	<input type="password" id="newPasswordConfirm" value="" class="form-control" />	
							</div>
						</div>	

						<div class="col-md-6">
							<a  class="btn btn-default" id="changePswEvnt" href="#">Cambia password</a>
						</div>
													
					</div>
					</div>
				</div>	
			{{/if}}	



			<div class="row">	



		<div class="col-md-4 form-group">
			<label class="form-label">Indirizzo</label> 
			 
			
			<div class="row">
				<div class="col-xs-4">
					Palazzina 
					{{#if isCurrentUser}}
						<select class="form-control" id="building">
							{{#each b in address.buildings}}
								<option value="{{b}}" selected="{{#if selectedAddress 'building' b }} true {{/if}}">{{b}}</option>
							{{/each}}
						</select>	
						{{else}}
						{{#if this.profile.address.building}}  
							<h4>{{this.profile.address.building}}</h4>
						{{else}}
							<h4>nd</h4>
						{{/if}}
					{{/if}}

				</div>
				
				<div class="col-xs-4">
					Piano 
					{{#if isCurrentUser}}
						<select class="form-control" id="floor">
							{{#each f in address.floor}}
								<option value="{{f}}" selected="{{#if selectedAddress 'floor' f }} true {{/if}}">{{f}}</option>
							{{/each}}
						</select>	
						{{else}} 
						{{#if this.profile.address.floor}}  
						<h4>{{this.profile.address.floor}}</h4>
						{{else}}
							<h4>nd</h4>
						{{/if}}
					{{/if}}
				</div>

				<div class="col-xs-4">
					Interno 
					{{#if isCurrentUser}}
						<select class="form-control" id="int">
							{{#each i in address.int}}
								<option value="{{i}}"  selected="{{#if selectedAddress 'int' i }} true {{/if}}"> {{i}}</option>
							{{/each}}
						</select>	
						{{else}} 
							{{#if this.profile.address.int}}  
							<h4>{{this.profile.address.int}}</h4>
						{{else}}
							<h4>nd</h4>
						{{/if}}
					{{/if}}
				</div>	


			</div>	
			
		</div>

		{{#if isCurrentUser}}
			<div class="col-md-8 form-group">
			 	<label class="form-label" >Motto </label>
			 	
				<textarea id="claim" class="form-control">{{this.profile.claim}}</textarea>	
			</div>
		{{/if}}

	</div>	










		</div>

		

	</div>	
	
	


	
	{{#if isCurrentUser}}	
		<div class="row form-group">
	        <div class="col-md-12 form">
	            <input type="submit" value="Salva" class="btn btn-primary"/>
	        </div>
	    </div>
	{{/if}}
</form>



</template>



<template name="uploadAvatar">
  {{#with currentUpload}}
    Uploading <b>{{file.name}}</b>: 
    <span id="progress">{{progress.get}}%</span>
  {{else}}
    <input id="fileInput" class="fileInput" type="file" />
    <p class="istruction"><small>Carica file in <code>jpeg</code> o <code>png</code>, con dimensione massima di 10MB</small></p>
  {{/with}}
</template>


<template name="uploadedFiles">
  {{#if uploadedFiles.count}}
    <ul>
      {{#each file in uploadedFiles.each}}
        <li>
          <a href="{{file.link}}?download=true" download="{{file.name}}">
          	<img src="{{file.link}}" alt="{{file.name}}" class="avatar" />
          </a>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <div>No files uploaded, yet</div>
  {{/if}}
</template>
