<template name="notifications">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    {{#if notificationCount}}
      <span class="badge badge-inverse">{{notificationCount}}</span>
    {{/if}}
    <!--b class="caret"></b-->
  </a>
  {{#if notificationCount}}
  <ul class="dropdown-menu">
    
      {{#each notifications}}
        {{> notification}}
      {{/each}}
    
     
  </ul>
   <!-- {{else}}  li><a href="javascript:void(0);"><span>No Notifications</span></a></li-->
    {{/if}}
</template>

<template name="notification">
  <li>
    <a href="{{notificationCupPath}}">
      {{notificationAuthor}} {{actionToNotify}} <strong>{{cupTitle}}</strong>
    </a>
  </li>
</template>
